@font-face {
  font-family: "Segoe";
  font-display: swap;
  src: url("../fonts/Segoe-Bold.woff2") format("woff2"), url("../fontss/Segoe-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Segoe";
  font-display: swap;
  src: url("../fonts/Segoe.woff2") format("woff2"), url("../fontss/Segoe.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.wrapper__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  background-color: #2564cf;
}

.header__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__burger {
  width: 48px;
  height: 48px;
  padding: 0px 14px;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header__burger:hover {
  background-color: #005A9E;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f4f4f4;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  position: relative;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.header__burger::after,
.header__burger::before {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background: #f4f4f4;
  position: absolute;
  left: 0;
}

.header__burger::before {
  top: -6px;
}

.header__burger::after {
  bottom: -6px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 32px;
  background-color: #edebe9;
  border-radius: 2px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__search svg {
  width: 20px;
  height: 20px;
  fill: #346fef;
  display: block;
}

.header__search--input {
  display: block;
  cursor: default;
  font-size: 14px;
  height: 100%;
}

.header__search--input-text {
  width: 100%;
}

.header__search--input-text:focus {
  cursor: text;
}

.header__search--input-submit {
  width: 48px;
  padding-left: 5px;
}

.header__search--input-delete {
  padding: 8px;
}

.header__search._active .header__search--input-submit:hover {
  background-color: #fff;
}

.header__search._active .header__search--input-delete:hover {
  background: #edebe9;
}

.header__search * {
  cursor: pointer;
}

.header__search:hover,
.header__search._active {
  background-color: #f4f6ff;
}

.header__search:hover {
  -webkit-box-shadow: 0 0 0 1px #f4f6ffW;
          box-shadow: 0 0 0 1px #f4f6ffW;
}

.menu-header {
  white-space: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: all 0.2s ease-in;
      -ms-transform: all 0.2s ease-in;
          transform: all 0.2s ease-in;
}

.menu-header__settings:hover svg {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu-header a {
  height: 100%;
  width: 48px;
  padding: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-header a:hover {
  background-color: #005A9E;
}

.menu-header a svg {
  width: 23px;
  height: 23px;
  fill: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3f2f1;
  width: 300px;
  padding: 40px 0 20px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 15px;
  color: #323130;
  min-height: calc(100% - 48px);
}

.sidebar._active {
  width: 48px;
}

.sidebar._active .task-group__item--title,
.sidebar._active .tasks-group__item--count,
.sidebar._active .tasks-menu__input {
  visibility: hidden;
}

.tasks-group .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks-group__item {
  padding: 8px 10px;
  cursor: pointer;
}

.tasks-group__item:hover {
  background: #fafafa;
}

.tasks-group__item._active {
  background: #ededed;
}

.tasks-group__item span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.tasks-menu__submit {
  width: 48px;
  height: 40px;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.sidebar._active .tasks-menu__submit:hover {
  background: #fafafa;
}

.tasks-menu__submit svg {
  -webkit-transform: translateX(-3px);
      -ms-transform: translateX(-3px);
          transform: translateX(-3px);
  width: 24px;
  height: 24px;
  fill: #797775;
}

.tasks-menu__input {
  width: 100%;
  color: #323130;
  font-size: 14px;
  font-weight: 700;
}

.tasks-menu__input:focus::-webkit-input-placeholder {
  color: #323130;
}

.tasks-menu__input:focus::-moz-placeholder {
  color: #323130;
}

.tasks-menu__input:focus:-ms-input-placeholder {
  color: #323130;
}

.tasks-menu__input:focus::-ms-input-placeholder {
  color: #323130;
}

.tasks-menu__input:focus::placeholder {
  color: #323130;
}

.tasks-menu__input::-webkit-input-placeholder {
  color: #2564cf;
}

.tasks-menu__input::-moz-placeholder {
  color: #2564cf;
}

.tasks-menu__input:-ms-input-placeholder {
  color: #2564cf;
}

.tasks-menu__input::-ms-input-placeholder {
  color: #2564cf;
}

.tasks-menu__input::placeholder {
  color: #2564cf;
}

.tasks-user {
  margin-top: 15px;
}

.tasks-user svg {
  stroke: #2564cf;
}

.tasks-user .tasks-group__item._active {
  color: #2564cf;
  font-weight: 700;
}

.tasks {
  padding: 18px 28px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.tasks .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks__item--btn {
  color: #2564cf;
  font-size: 15px;
  padding: 4px 8px;
  border-radius: 4px;
}

.tasks__item--btn * {
  vertical-align: middle;
}

.tasks__item--btn svg {
  stroke: #2564cf;
  stroke-width: 1px;
  fill: none;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
}

.tasks__item--btn:hover {
  background: #edebe9;
}

.tasks__item--btn.sort-tasks__print svg {
  stroke-width: 5px;
}

.tasks__title {
  font-weight: 700;
  padding: 6px 0;
  padding-left: 0;
  display: none;
  font-size: 18px;
  color: #2564cf;
  cursor: default;
}

.tasks__title-input {
  display: block;
  cursor: default;
  border: 1px solid transparent;
}

.tasks__title-input:focus {
  border: 1px solid #797775;
  color: #797775;
  cursor: text;
  opacity: 0.4;
}

.tasks._main .tasks__title {
  display: block;
}

.tasks._main .tasks__title-input {
  display: none;
}

.app {
  margin-top: 15px;
}

.app__interface {
  width: 100%;
  background: #edebe9;
  padding: 10px 15px 20px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.app__interface--text {
  background: #fff;
  border-bottom: 1px solid #2564cf;
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 15px;
  color: #797775;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.app__interface--text:focus::-webkit-input-placeholder {
  color: #797775;
}

.app__interface--text:focus::-moz-placeholder {
  color: #797775;
}

.app__interface--text:focus:-ms-input-placeholder {
  color: #797775;
}

.app__interface--text:focus::-ms-input-placeholder {
  color: #797775;
}

.app__interface--text:focus::placeholder {
  color: #797775;
}

.app__interface--text::-webkit-input-placeholder {
  color: #2564cf;
}

.app__interface--text::-moz-placeholder {
  color: #2564cf;
}

.app__interface--text:-ms-input-placeholder {
  color: #2564cf;
}

.app__interface--text::-ms-input-placeholder {
  color: #2564cf;
}

.app__interface--text::placeholder {
  color: #2564cf;
}

.app__interface--checkbox {
  margin-right: 15px;
}

.app__tasks--item {
  height: 52px;
  padding: 8px 12px 8px 15px;
  -webkit-box-shadow: inset 0 0 0 1px #ecf6fd;
          box-shadow: inset 0 0 0 1px #ecf6fd;
  background-color: #ecf6fd;
  border-bottom: 1px solid #edebe9;
}

.app__tasks--item._completed .app__tasks--checkbox {
  visibility: hidden;
}

.app__tasks--item {
  font-size: 15px;
}

.app__tasks--item._important {
  color: red;
}

.app__tasks--item._completed {
  color: green;
}

*,
*::after,
*::before {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
input {
  outline: none;
  border: none;
  background: none;
  padding: 0;
}

input[type=submit],
button {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html {
  font-family: "Segoe", sans-serif;
  font-weight: 400;
  font-size: calc(4px + 0.4447739066vw);
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
}

.header {
  display: block;
}

@media (max-width: 767px) {
  html {
    font-size: calc(4px + 10.2 * (100vw - 320px) / 1349);
  }
}